{%  extends 'base/base.html' %}

{% block context %}

    <br>
    <br>
    <br>

    <div class="container" align="center">
        {% if user.is_authenticated %}
            <h4> Hi {{ user.username }}! </h4>

            <p><a href="{% url 'start' %}">Start planning</a></p>

            <p><a href="{% url 'logout' %}">logout</a></p>

        {% else %}
            <h4>You are not logged in.</h4>
            <br>
            <a href="{% url 'signup' %}">Sign Up</a>
            <br>
            <br>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>

{% endblock %}