{%  extends 'base/base.html' %}

{%  block context %}





    <div class="container" align="right">
     {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
          <p>You are not logged in</p>
          <a href="{% url 'login' %}">login</a>
    {% endif %}
    </div>

<div align="center">
<a href="https://wcplanner.herokuapp.com/resources/">Resources</a>
</div>

<div class="container" align="left">
    <div class="row">
        <div class="column">
            <div id="wrap">
                <iframe id="frame" src="https://www.westmont.edu/sites/default/files/2018-06/2018-2019%20College%20Catalog.pdf#page=37" ></iframe>
            </div>
        </div>


        <div class="col-lg-2">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <form method="POST" action="{%  url 'start' %}" >
                {%  csrf_token %}
                <div id="overflowTest3">

                    {%  for subj in course_subjects %}
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="select-subj" value={{ subj }} id="defaultCheck--1">
                          <label class="form-check-label" for="defaultCheck--1">
                            {{ subj }}
                          </label>
                        </div>
                    {%  endfor %}

                </div>

                <div align="center">
                    <button type="submit" class="btn btn-primary" name="subj-button" value="temp" id="tempid">Select Subject</button>
                </div>
            </form>
        </div>

        <div class="col-lg-5">
            <br>
            <br>
            <br>
            <br>

            <form method="POST" action="{%  url 'start' %}" >
                {%  csrf_token %}  <!-- security thing needed in order to do the post request -->


                <div id="overflowTest3">
                    {%  for course in course_data %}
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="select-courses" value="{{ course.pk }}" id="defaultCheck--{{ course.pk }}">
                          <label class="form-check-label" for="defaultCheck--{{ course.pk }}">
                            {{ course }}
                          </label>
                        </div>
                    {%  endfor %}
                </div>

                <br>


                <div id="overflowTest3">
                    <i> Year 1 </i>
                    <div class="form-check">
                          <input class="form-check-input" type="radio" name="select-semester" value="yr1-sem1" id="defaultCheck--1">
                          <label class="form-check-label" for="defaultCheck--1">
                            Semester 1
                          </label>
                    </div>
                    <div class="form-check">
                          <input class="form-check-input" type="radio" name="select-semester" value="yr1-sem2" id="defaultCheck--1">
                          <label class="form-check-label" for="defaultCheck--1">
                            Semester 2
                          </label>
                    </div>


                    <i> Year 2 </i>
                    <div class="form-check">
                          <input class="form-check-input" type="radio" name="select-semester" value="yr2-sem1" id="defaultCheck--1">
                          <label class="form-check-label" for="defaultCheck--1">
                            Semester 3
                          </label>
                    </div>
                    <div class="form-check">
                          <input class="form-check-input" type="radio" name="select-semester" value="yr2-sem2" id="defaultCheck--1">
                          <label class="form-check-label" for="defaultCheck--1">
                            Semester 4
                          </label>
                    </div>

                    <i> Year 3 </i>
                    <div class="form-check">
                          <input class="form-check-input" type="radio" name="select-semester" value="yr3-sem1" id="defaultCheck--1">
                          <label class="form-check-label" for="defaultCheck--1">
                            Semester 5
                          </label>
                    </div>
                    <div class="form-check">
                          <input class="form-check-input" type="radio" name="select-semester" value="yr3-sem2" id="defaultCheck--1">
                          <label class="form-check-label" for="defaultCheck--1">
                            Semester 6
                          </label>
                    </div>

                    <i> Year 4 </i>
                    <div class="form-check">
                          <input class="form-check-input" type="radio" name="select-semester" value="yr4-sem1" id="defaultCheck--1">
                          <label class="form-check-label" for="defaultCheck--1">
                            Semester 7
                          </label>
                    </div>
                    <div class="form-check">
                          <input class="form-check-input" type="radio" name="select-semester" value="yr4-sem2" id="defaultCheck--1">
                          <label class="form-check-label" for="defaultCheck--1">
                            Semester 8
                          </label>
                    </div>

                    <i> Extra </i>
                    <div class="form-check">
                          <input class="form-check-input" type="radio" name="select-semester" value="extra-sem" id="defaultCheck--1">
                          <label class="form-check-label" for="defaultCheck--1">
                            Semester 9
                          </label>
                    </div>


                </div>

                <div align="center">
                    <button type="submit" class="btn btn-primary" name="add-button" value="temp" id="tempid2">Add</button>
                </div>


            </form>

        </div>




</div>








<br>





<div class="container">
        <div class="row">
            <div class="col-lg-6" align="center" style="background: #BDA9A4">
                <h4> Year 1 </h4>
            </div>
            <div class="col-lg-6" align="center" style="background: #B2C2C1">
                <h4> Year 2 </h4>
            </div>
        </div>
</div>




<form method="POST" action="{%  url 'start' %}" >
    {%  csrf_token %}  <!-- security thing needed in order to do the post request -->

    <div class="container">
        <div class="row">
            <div class="col-lg-3" id="overflowTest">
                {%  for course in sem1 %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="select-courses2" value="{{ course.pk }}" id="defaultCheck--{{ course.pk }}">
                      <label class="form-check-label" for="defaultCheck--{{ course.pk }}">
                            {{ course }} <br>
                      </label>
                    </div>
                {%  endfor %}
            </div>

            <div class="col-lg-3" id="overflowTest">
                {%  for course in sem2 %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="select-courses2" value="{{ course.pk }}" id="defaultCheck--{{ course.pk }}">
                      <label class="form-check-label" for="defaultCheck--{{ course.pk }}">
                            {{ course }} <br>
                      </label>
                    </div>
                {%  endfor %}
            </div>



            <div class="col-lg-3" id="overflowTest2">
                {%  for course in sem3 %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="select-courses2" value="{{ course.pk }}" id="defaultCheck--{{ course.pk }}">
                      <label class="form-check-label" for="defaultCheck--{{ course.pk }}">
                            {{ course }} <br>
                      </label>
                    </div>
                {%  endfor %}
            </div>


            <div class="col-lg-3" id="overflowTest2">
                {%  for course in sem4 %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="select-courses2" value="{{ course.pk }}" id="defaultCheck--{{ course.pk }}">
                      <label class="form-check-label" for="defaultCheck--{{ course.pk }}">
                            {{ course }} <br>
                      </label>
                    </div>
                {%  endfor %}
            </div>




        <div class="container">
            <div class="row">
                <div class="col-lg-6" align="center" style="background: #B2C2C1">
                    <h4> Year 3 </h4>
                </div>
                <div class="col-lg-6" align="center" style="background: #BDA9A4">
                    <h4> Year 4 </h4>
                </div>
            </div>
        </div>





            <div class="col-lg-3" id="overflowTest2">
                {%  for course in sem5 %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="select-courses2" value="{{ course.pk }}" id="defaultCheck--{{ course.pk }}">
                      <label class="form-check-label" for="defaultCheck--{{ course.pk }}">
                            {{ course }} <br>
                      </label>
                    </div>
                {%  endfor %}
            </div>

            <div class="col-lg-3" id="overflowTest2">
                {%  for course in sem6 %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="select-courses2" value="{{ course.pk }}" id="defaultCheck--{{ course.pk }}">
                      <label class="form-check-label" for="defaultCheck--{{ course.pk }}">
                            {{ course }} <br>
                      </label>
                    </div>
                {%  endfor %}
            </div>

            <div class="col-lg-3" id="overflowTest">
                {%  for course in sem7 %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="select-courses2" value="{{ course.pk }}" id="defaultCheck--{{ course.pk }}">
                      <label class="form-check-label" for="defaultCheck--{{ course.pk }}">
                            {{ course }} <br>
                      </label>
                    </div>
                {%  endfor %}
            </div>

            <div class="col-lg-3" id="overflowTest">
                {%  for course in sem8 %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="select-courses2" value="{{ course.pk }}" id="defaultCheck--{{ course.pk }}">
                      <label class="form-check-label" for="defaultCheck--{{ course.pk }}">
                            {{ course }} <br>
                      </label>
                    </div>
                {%  endfor %}
            </div>



            <div class="container">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3" align="center" style="background: #BDA9A4">
                        <h4> Extra </h4>
                    </div>
                </div>
            </div>



            <div class="col-lg-1"></div>

            <div class="col-lg-3" id="overflowTest">
                {%  for course in sem9 %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="select-courses2" value="{{ course.pk }}" id="defaultCheck--{{ course.pk }}">
                      <label class="form-check-label" for="defaultCheck--{{ course.pk }}">
                            {{ course }} <br>
                      </label>
                    </div>
                {%  endfor %}
            </div>

            <div class="col-lg-2"></div>

            <div class="col-lg-2" align="center">
                <button type="submit" class="btn btn-primary" name="delete-button" value="temp" id="tempid3">Delete</button>
            </div>


        </div>
    </div>


</form>







{% endblock %}