{%  extends 'base/base.html' %}

{% block context %}

    <br>
    <br>
    <br>

    <div align="right">
<a href="https://wcplanner.herokuapp.com">Home</a>
</div>


    <div class="container" align="center">
        <h2>Resources</h2>
        <br>
    <a href="https://www.westmont.edu/sites/default/files/2018-06/2018-2019%20College%20Catalog.pdf">Academic Catalog</a>
<br>
    <a href="https://www.westmont.edu/academics/degrees-programs">Degree Programs</a>
<br>
    <a href="https://www.westmont.edu/_offices/registrar/documents/GECourses17FA.pdf">General Education Requirements</a>



    </div>

{% endblock %}